.intro {
  max-width: 1000px;
  margin: 0 auto;
  h1 {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 160px 0 0px 0;
    @include breakpoint('small') {
      font-size: 42px;
      line-height: 52px;
      margin: 160px 0 0px 0;
      padding: 0;
    }
  }

  .intro-date {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 0 40px 0;
    text-align: center;
    @include breakpoint('small') {
      font-size: 14px;
      line-height: 1.5;
    }
    & a {
      color: var(--text-color);
    }
  }
}