.summary {
  font-size: 18px;
  line-height: 28px;
  @include breakpoint('small') {
    font-size: 20px;
    line-height: 32px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .summary-title {
    margin: 160px 0 0px 0;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    & a {
      color: var(--text-color);
      text-decoration: none;
    }
    & a:hover{
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
    @include breakpoint('small') {
    font-size: 42px;
    line-height: 52px;
    }
  }
  & p {
    margin: 0;
    padding: 0;
    text-align: center;
    }
  .summary-date {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 0 40px 0;
    text-align: center;
    @include breakpoint('small') {
      font-size: 14px;
      line-height: 1.5;
    }
    & a {
      color: var(--text-color);
    }
  }
}
