.summary {
  font-size: 18px;
  line-height: 24px;
  @include breakpoint('small') {
    font-size: 22px;
    line-height: 26px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .summary-title {
    margin: 40px 0 40px 0;
    font-size: 48px;
    line-height: 1.1;
    text-align: center;
    & a {
      color: var(--text-color);
      text-decoration: none;
    }
    & a:hover{
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
    @include breakpoint('small') {
    font-size: 54px;
    line-height: 1.1;
    }
  }
  & p {
    margin: 0;
    padding: 0;
    text-align: center;
    }
  .summary-date {
    font-size: 16px;
    padding: 160px 0 0 0;
    text-align: center;
    @include breakpoint('small') {
      font-size: 18px;
    }
    & a {
      color: var(--text-color);
    }
  }
}
